{{ define "main" }}
<!--  -->
{{ partial "navbar" . }}

<section id="header" class="py-5">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-4 col-md-12 col-12">
        <h2 class="font-weight-normal text-rose">What We Do</h2>
      </div>
      <div class="col-lg-8 col-md-12 col-12">
        <h3 class="font-weight-light">
          We create powerful
          <a href="/services/strategy/" class="text-rose"><u>strategies</u></a
          >, unique <a href="/services/brand-design/" class="text-rose"><u>identities</u></a
          >, and intuitive user-centric <a href="/services/web-services/" class="text-rose"><u>designs</u></a
          > to connect people
          to brands and organizations.
        </h3>
      </div>
    </div>
  </div>
</section>

<section id="content" class="">
  {{ range .Pages }}
  <div class="row bg-{{.Params.color}}">
    <div class="col-lg-8 col-12 m-auto">
      <img src="{{.Params.img}}" alt="{{.Params.alt}}" class="w-100" />
    </div>
    <div class="col-lg-4 col-12 p-5 text-white m-auto">
      <h2 class="font-weight-normal">{{.Title}}</h2>
      <h4 class="font-weight-light py-3">{{.Description}}</h4>
      <a href="{{.URL}}" class="text-uppercase text-white">
        <u>
          learn more about {{.Title}}
        </u>
      </a>
    </div>
  </div>
  {{ end }}
</section>

<!-- {{ partial "clients" . }} -->

<div class="container-fluid text-center pb-5">
  <div class="container py-5">
    <h5 class="font-weight-light">Ready to Talk?</h5>
    <a
      href="/contact/"
      class="btn btn-lg btn-rose rounded-0 font-weight-light px-5 py-3"
      >Start a Project</a
    >
  </div>
</div>

{{ end }}
