{{ define "main" }} {{ partial "navbar" . }}

<div class="container py-5">
  <h1 class="font-weight-bold text-center text-yankees display-1">
    {{.Title}}
  </h1>
  <p class="">{{.Content}}</p>
</div>

<section class="">
  {{ range .Pages }}
  <a href="{{.URL}}" class="text-decoration-none hidden-sm-down">
    <div class="row" style="background-image: url('{{.Params.img}}'); background-size: cover; background-position: center; background-attachment: fixed; background-repeat: no-repeat; min-height: 50vh;">
      <div class="m-auto text-white hover-services">
        <h1 class="">{{.Params.header}}</h1>
      </div>
    </div>
  </a>
  <a href="{{.URL}}" class="text-decoration-none hidden-sm-up">
    <div class="row" style="background-image: url('{{.Params.img}}'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
      <div class="m-auto text-white hover-services">
        <h1 class="">{{.Params.header}}</h1>
      </div>
    </div>
  </a>

  <div class="container py-5">
    <h2 class="text-center">{{.Title}}</h2>
    <h6 class="text-center text-dark pt-2 pb-3">{{.Description}}</h6>
    <div class="text-center">
      <a href="{{.URL}}" class="btn btn-yankees rounded-0 px-5">Learn More</a>
    </div>
  </div>


  {{end}}
</section>

<hr class="container">

{{ partial "clients" . }}

<div class="container-fluid text-center pb-5">
  <div class="container py-5">
    <h5 class="font-weight-light">Ready to Talk?</h5>
    <a
      href="/contact/"
      class="btn btn-lg btn-rose rounded-0 font-weight-light px-5 py-3"
      >Start a Project</a
    >
  </div>
</div>


{{ end }}
