{{ define "main" }} {{ partial "navbar" . }}

<div class="" style="">
  <img src="{{.Params.img}}" alt="{{.Params.Alt}}" class="w-100" />
</div>

<section id="overview" class="py-5">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-4 col-12">
        <h3 class="">What We Do</h3>
      </div>
      <div class="col-lg-8 col-12">
        <h1 class="text-rose">{{.Title}}</h1>
        <h4 class="font-weight-light">{{.Description}}</h4>
      </div>
    </div>
    <hr class="" />
  </div>
</section>

<section id="content" class="container py-5">
  <div class="row py-5">
    <div class="col-lg-6 col-12 m-auto p-5">
      <img src="{{.Params.img1}}" alt="{{.Params.alt1}}" class="w-100" />
    </div>
    <div class="col-lg-6 col-12 m-auto p-5">
      <h2 class="">{{.Params.title1}}</h2>
      <h5 class="font-weight-light py-3">{{.Params.text1}}</h5>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-lg-6 col-12 m-auto p-5">
      <img src="{{.Params.img2}}" alt="{{.Params.alt2}}" class="w-100" />
    </div>
    <div class="col-lg-6 col-12 m-auto p-5">
      <h2 class="">{{.Params.title2}}</h2>
      <h5 class="font-weight-light py-3">{{.Params.text2}}</h5>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-lg-6 col-12 m-auto p-5">
      <img src="{{.Params.img3}}" alt="{{.Params.alt3}}" class="w-100" />
    </div>
    <div class="col-lg-6 col-12 m-auto p-5">
      <h2 class="">{{.Params.title3}}</h2>
      <h5 class="font-weight-light py-3">{{.Params.text3}}</h5>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-lg-6 col-12 m-auto p-5">
      <img src="{{.Params.img4}}" alt="{{.Params.alt4}}" class="w-100" />
    </div>
    <div class="col-lg-6 col-12 m-auto p-5">
      <h2 class="">{{.Params.title4}}</h2>
      <h5 class="font-weight-light py-3">{{.Params.text4}}</h5>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-lg-6 col-12 m-auto p-5">
      <img src="{{.Params.img5}}" alt="{{.Params.alt5}}" class="w-100" />
    </div>
    <div class="col-lg-6 col-12 m-auto p-5">
      <h2 class="">{{.Params.title5}}</h2>
      <h5 class="font-weight-light py-3">{{.Params.text5}}</h5>
    </div>
  </div>
</section>

<div class="container-fluid text-center pb-5">
  <div class="container py-5">
    <h4 class="font-weight-light">Ready to Talk?</h4>
    <a
      href="/contact/"
      class="btn btn-lg btn-rose rounded-0 font-weight-light px-5 py-3"
      >Build a Website</a
    >
  </div>
</div>

{{ end }}
