{{ define "main" }} {{ partial "navbar" . }}

<div class="" style="">
  <img src="{{.Params.img}}" alt="{{.Params.Alt}}" class="header-img" />
</div>

<section class="container">
  <h1 class="text-yankees font-weight-bold text-center pt-5 pb-2">
    {{.Title}}
  </h1>
  <h2 class="text-dark text-center pb-5">
    {{.Description}}
  </h2>
</section>

<section class="container py-5">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-12 py-5">
      <h1 class="font-weight-normal">{{.Params.headline}}</h1>
      <h4 class="text-dark font-weight-light pt-4">
        {{.Params.overview}}
      </h4>
    </div>
    <div class="col-lg-3 col-md-3 col-12 py-5">
      <h6 class="text-dark">SCOPE OF PROJECT</h6>
      <h6 class="font-weight-light text-dark">{{.Params.keywords}}</h6>
    </div>
  </div>
</section>

<hr class="container" />

<section class="container">
  <p class="">{{.Content}}</p>
</section>

<div class="container-fluid text-center py-5">
  <div class="container py-5">
    <h4 class="font-weight-light">Ready to Talk?</h4>
    <a
      href="/contact/"
      class="btn btn-lg btn-rose rounded-0 font-weight-light px-5 py-3"
      >Build a Website</a
    >
  </div>
</div>

{{ end }}
