{{ define "main"}}
<!--  -->
{{ partial "navbar" }}
<section id="content" class="py-5">
  <div class="container bg-grey-light rounded p-5">
    <h1 class="">Global Connect Initiative</h1>
    <h2 class="font-weight-light py-3">We have parked this division of diesmo5 on a different domain.</h2>
    <a href="https://globalconnect.diesmo5.com" target="_blank" class="">
      <h3>globalconnect.diesmo5.com</h2>
    </a>
    <h6 class="py-2">Or</h6>
    <a href="https://globalconnect.diesmo5.com" target="_blank" class="btn btn-lg rounded-0 btn-yankees px-5 pt-2">Visit Our Global Connect Website Here</a>
  </div>
</section>


{{end}}
