{{ define "main" }} {{ partial "navbar" }}

<section class="bg-light py-5" id="overview">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-4 col-md-4 col-12 py-5">
        <h6 class="font-weight-light text-small">Overview</h6>
      </div>
      <div class="col-lg-8 col-md-8 col-12 py-5">
        <h1 class="font-weight-normal">
          Make the Most of What we have to Offer
        </h1>
        <h3 class="font-weight-light pt-4">We dedicate resources towards creating valuable content that hopefully gives our audience insight, knowledge, and a new breadth of outlook. So please... don't let it go to waste.</h3>
      </div>
    </div>
  </div>
</section>

{{ range $.Site.Data.nav.media }}
<section
  class="bg-{{.color}} text-white py-5 hidden-sm-down"
  style="background-image: url('{{.img}}'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;"
  id="{{.id}}"
>
  <div class="container py-5">
    <div class="row py-5"></div>
    <div class="row py-5">
      <div class="col-lg-4 col-md-4 col-12 py-5">
        <h6 class="font-weight-light text-small">{{.id}}</h6>
      </div>
      <div class="col-lg-8 col-md-8 col-12 py-5">
        <h1 class="font-weight-light display-1">{{.title}}</h1>
        <h1 class="font-weight-light py-4">{{.description}}</h1>
        <a href="{{.url}}" class="btn btn-lg btn-{{.color}} rounded-0 px-5 py-2"
          >{{.action}}</a
        >
      </div>
    </div>
    <div class="row py-5"></div>
  </div>
</section>
<section
  class="bg-{{.color}} text-white py-5 hidden-sm-up"
  style="background-image: url('{{.img}}'); background-size: cover; background-position: center; background-repeat: no-repeat;"
  id="{{.id}}"
>
  <div class="container py-5">
    <div class="row py-5"></div>
    <div class="row py-5">
      <div class="col-lg-4 col-md-4 col-12 py-5">
        <h6 class="font-weight-light text-small">{{.id}}</h6>
      </div>
      <div class="col-lg-8 col-md-8 col-12 py-5">
        <h1 class="font-weight-light display-1">{{.title}}</h1>
        <h1 class="font-weight-light py-4">{{.description}}</h1>
        <a href="{{.url}}" class="btn btn-lg btn-{{.color}} rounded-0 px-5 py-2"
          >{{.action}}</a
        >
      </div>
    </div>
    <div class="row py-5"></div>
  </div>
</section>
{{ end }} {{ end }}
