{{define "main"}}
<!--  -->
{{partial "webservicesnav"}}

<section id="header" class="text-center py-5">
  <div class="container py-5">
    <h1 class="font-weight-bold">Let's Keep Things Simple</h1>
    <h3 class="font-weight-light pb-5">Domains. Web Hosting. Website Builder.</h3>
    <img src="/img/projects/web-services/header.svg" alt="" class="w-50">
  </div>
</section>

<section id="features" class="pb-5">
    <div class="container pb-5">
        <div class="py-3">
            <a href="#" class="btn btn-block btn-dark py-3">Domains (Disabled)</a>
            <a href="#" class="btn btn-block btn-dark py-3">Web Builder (Disabled)</a>
            <a href="/web-hosting/" class="btn btn-block btn-indigo py-3">Web Hosting</a>
        </div>
    </div>
</section>

{{end}}
