{{ define "main" }} {{ partial "navbar" . }}
<!--  -->
{{ range $.Site.Data.blog.featured}}
<section class="container">
  <h1 class="font-weight-bold text-center">Blog</h1>
</section>
{{ end }}

<section class="container py-5">
  <div class="row">
    {{ range .Pages }}
    <div class="col-lg-6 col-md-6 col-12 py-3">
      <div class="article">
        <a href="{{.URL}}">
          <div
            class="article-overlay"
            style="background: rgba({{.Params.color}});"
          ></div>
          <img
            class="article-image w-100"
            src="{{.Params.img}}"
            alt="{{.Params.alt}}"
          />
          <div class="article-details fadeIn-bottom text-white">
            <h3 class="article-title">{{.Title}}</h3>
            <h6 class="article-title">{{.Date.Format "Jan 2 2006"}}</h6>
            <!-- <h6 class="content-text">{{.Description}}</h6> -->
            <!-- <h6 class="text-small">{{.Params.author}}</h6> -->
          </div>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}
