{{ define "main" }} {{ partial "navbar" . }}
<!--  -->
{{ range $.Site.Data.blog.featured}}
<section
  class="container-fluid m-auto"
  style="background-image: url({{.img}}); background-position: center center; background-repeat: no-repeat; background-size: cover; min-height: 100vh;"
>
  <div class="text-white m-auto" style="position: absolute; top: 15rem;">
    <div class="col-lg-4 col-md-4 col-12"></div>
    <div class="container col-lg-8 col-md-8 col-12">
      <h1 class="font-weight-bold col-lg-8 col-md-8 col-12">{{.title}}</h1>
      <h5 class="font-weight-light col-lg-8 col-md-8 col-12">
        {{.description}}
      </h5>
      <div class="row py-5 m-auto">
        <div class="col-6">
          <h6 class="text-white">{{.publisher}}</h6>
          <h6 class="font-weight-light">{{.date}}</h6>
        </div>
        <div class="col-6 m-auto">
          <a href="{{.url}}" class="btn btn-lg btn-rose rounded-0 px-5">
            Expand
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12"></div>
  </div>
</section>
{{ end }}

<section class="container py-5">
  <div class="row">
    {{ range .Pages }}
    <div class="col-lg-6 col-md-6 col-12 py-3">
      <div class="article">
        <a href="{{.URL}}">
          <div class="article-overlay" style="background: rgba({{.Params.color}});"></div>
          <img
            class="article-image w-100"
            src="{{.Params.img}}"
            alt="{{.Params.alt}}"
          />
          <div class="article-details fadeIn-bottom text-white">
            <h3 class="article-title">{{.Title}}</h3>
            <h6 class="content-text">{{.Description}}</h6>
            <h6 class="text-small">{{.Params.author}}</h6>
          </div>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}
