{{ define "main" }} {{ partial "navbar" . }}

<div class="container py-5">
  <h1 class="font-weight-bold text-center text-yankees display-1">
    {{.Title}}
  </h1>
  <p class="">{{.Content}}</p>
</div>

<div class="container-fluid py-5">
  <div class="row">
    {{ range $.Site.Data.nav.store }}
    <div class="col-12 py-3 m-auto">
      <div class="content">
        <a href="{{.url}}">
          <div class="content-overlay"></div>
          <img class="content-image w-100" src="{{.img}}" alt="{{.alt}}" />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">{{.title}}</h3>
            <!-- <p class="content-text">This is a short description</p> -->
          </div>
        </a>
      </div>
    </div>
    {{end}}
  </div>
</div>

{{ end }}
