{{ define "main" }}
<!--  -->
<div class="row py-5">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <img src="" alt="" />
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <h1 class="">
      SIGN UP TO GET SHORT WEEKLY EMAILS ON TECHNOLOGY, WORKSHOPS & COURSES.
    </h1>
    <div class="row px-4">
      <input type="text" placeholder="Email Address" class="text-serif col-lg-6 col-8 p-2" />
      
      
      <a href="" class="btn btn-dark col-lg-4 col-6 px-4">SIGN UP</a>
    </div>
    <p class="text-small">No spam. Unsubscribe anytime.</p>
  </div>
</div>
<!--  -->
{{ end }}
