{{ define "main" }}

<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100 card-img"
        src="/img/header/masthead.png"
        alt="First slide"
      />
      <div class="card-img-overlay text-white">
        <div style="height:40%;"></div>
        <h1 class="font-weight-bold">
          We Help Achieve <br />
          Your Biggest Goals
        </h1>
        <a href="" class="btn btn-lg btn-dark px-4 py-2">Learn More</a>
      </div>
    </div>
    <div class="carousel-item active">
      <img
        class="d-block w-100 card-img"
        src="/img/header/masthead.png"
        alt="First slide"
      />
      <div class="card-img-overlay text-white">
        <div style="height:40%;"></div>
        <h1 class="font-weight-bold">
          We Help Achieve <br />
          Your Biggest Goals
        </h1>
        <a href="" class="btn btn-lg btn-dark px-4 py-2">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="container text-center py-5">
  <h1 class="font-weight-bold">
    Effectiveness through influence.
  </h1>
  <h6 class="text-secondary">Diesmo5 is in the business of creative problem-solving. From integrated campaigns to business design, our work creates real connections with people and drives results.</h6>
</div>

{{ end }}
