<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-W2FS85K");
    </script>
    <!-- End Google Tag Manager -->
    <link
      rel="shortcut icon"
      href="../../img/logo/favicon.jpg"
      type="image/x-icon"
    />
    <title>{{ if .Title }} {{ .Title }} | {{ end }} DIESMO 5</title>
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}" />
    {{ end }}
    <title>diesmo5</title>

    <link rel="stylesheet" href="../../sudocore/sudocore.css" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>
  <body class="text-century">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W2FS85K"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="text-yankees">
      {{ block "main" . }} {{ end }}
    </div>
    {{ partial "footer" . }} {{ partial "scriptcode" . }}
  </body>
</html>
