<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--  -->
    {{partial "csscode" .}}
    <!--  -->
    <link rel="stylesheet" href="../../css/style.min.css" />

    <link
      rel="shortcut icon"
      href="../../img/logo/favicon.png"
      type="image/x-icon"
    />
    <title>{{ if .Title }} {{ .Title }} | {{ end }} DIESMO 5</title>
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}" />
    {{ end }}
    <title>diesmo5</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-150415761-1"
    ></script>
    <script id="mcjs">
      !(function(c, h, i, m, p) {
        (m = c.createElement(h)),
          (p = c.getElementsByTagName(h)[0]),
          (m.async = 1),
          (m.src = i),
          p.parentNode.insertBefore(m, p);
      })(
        document,
        "script",
        "https://chimpstatic.com/mcjs-connected/js/users/a0f3186838415a0e37a8dc337/b10e2f13054db41529f2472b2.js"
      );
    </script>
  </head>
  <body class="" style="overflow-x: hidden;">
    <div class="text-yankees">
      {{ block "main" . }} {{ end }}
    </div>
    {{ partial "footer" . }} {{ partial "scriptcode" . }}
  </body>
</html>
