<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--  -->
    {{partial "csscode" .}}
    <!--  -->
    <link rel="stylesheet" href="../../css/style.min.css" />

    <link
      rel="shortcut icon"
      href="../../img/logo/favicon.png"
      type="image/x-icon"
    />
    <title>{{ if .Title }} {{ .Title }} | {{ end }} DIESMO 5</title>
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}" />
    {{ end }}
    <title>diesmo5</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-150415761-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-150415761-1");
    </script>
  </head>
  <body class="">
    <div class="text-yankees">
      {{ block "main" . }} {{ end }}
    </div>
    {{ partial "footer" . }} {{ partial "scriptcode" . }}
  </body>
</html>
