{{ define "main" }} {{ partial "navbar" . }}

<section class="py-5 text-center">
  <div class="container py-5">
    <h1 class="font-weight-bold">Manifesto</h1>
    <h5 class="font-weight-light">
      <i
        >"Take the attitude of a student. Never be too big to ask a question.
        Never know too much to learn something new." - Og Mandino</i
      >
    </h5>
    <h2 class="font-weight-light pt-3">
      diesmo<i>5</i> empowers students to achieve more.
    </h2>
    <h2 class="font-weight-light pt-3">
      diesmo<i>5</i> provides students with practical experience and knowledge.
    </h2>
    <h2 class="font-weight-light pt-3">
      diesmo<i>5</i> offers students free software and resources.
    </h2>
  </div>
</section>

<secction id="programs" class=" py-5">
  <div class="container py-5">
    <h1 class="font-weight-bold py-5">Our Programs</h1>
    <div class="row">
      {{ range $.Site.Data.programs }}
      <div class="col-lg-4 col-md-6 col-12 text-center">
        <a
          href="{{.programURL}}"
          target="_blank"
          rel="noopener"
          rel="noreferrer"
          class="text-graphite"
        >
          <img src="{{.programImg}}" alt="" class="w-50" />
          <h2 class="font-weight-bold pt-4">{{.programTitle}}</h2>
          <h6 class="">{{.programTagline}}</h6>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</secction>

<section class="pt-5">
  <div class="container-fluid text-center pb-5">
    <div class="container py-5">
      <hr>
      <h4 class="font-weight-light pt-5">Interested in working with us?</h4>
      <a
        href="/contact/"
        class="btn btn-lg btn-rose rounded-0 font-weight-light px-4 py-3"
        >Join Our Mission</a
      >
    </div>
  </div>
</section>

{{ end }}
