{{ define "main" }} {{ partial "navbar" . }}

<section class="py-5 text-center">
  <div class="container py-5">
    <h1 class="font-weight-bold">Manifesto</h1>
    <h5 class="font-weight-light">
      <i
        >"Take the attitude of a student. Never be too big to ask a question.
        Never know too much to learn something new." - Og Mandino</i
      >
    </h5>
    <h2 class="font-weight-light pt-3">
      diesmo<i>5</i> empowers students to achieve more.
    </h2>
    <h2 class="font-weight-light pt-3">
      diesmo<i>5</i> provides students with practical experience and knowledge.
    </h2>
    <h2 class="font-weight-light pt-3">
      diesmo<i>5</i> offers students free software and resources.
    </h2>
  </div>
</section>

{{ end }}
