{{ define "main" }}
{{ partial "navbar" . }}
<div class="container-fluid" id="communityheader">
  <div class="container text-white">
    <h5 class="font-weight-normal">Join Us -</h5>
    <h1 class="font-weight-bold">Join Our Community</h1>
  </div>
</div>

{{ range.Pages }}
<div class="container py-5" >
  <h5 class="font-weight-normal">{{ .Title }} -</h5>
  <h2 class="font-weight-normal py-2">{{ .Params.header }}</h2>
  <h3 class="font-weight-light">
    {{ .Params.description }}
  </h3>
  <a href="{{ .Params.link }}" class="btn btn-primary px-5 py-2">{{ .Params.button }}</a>
</div>
{{ end }}

{{ end }}
