{{ define "main" }}
{{ partial "navbar" . }}

<img src="{{.Params.img}}" alt="" class="w-100">

<div class="container text-center py-5">
    <h3 class="font-weight-bold">{{.Title}}</h3>
    <h6 class="font-weight-bold text-dark text-uppercase">{{.Params.tagline}}</h6>
</div>
<div class="container">
    <p class="">{{.Content}}</p>
</div>
<div class=" container py-5">
    <h6 class="">{{.Params.author}} | {{.Params.company}}</h6>
    <h6 class="font-weight-light">{{.Params.contact}}</h6>
</div>

{{ end }}