<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row bg-omega px-5 py-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Entrepreneurs</h1></a
          >
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Photographers</h1></a
          >
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Restaurants</h1></a
          >
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Musicians</h1></a
          >
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Small Businesses</h1></a
          >
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Fashion Designers</h1></a
          >
          <a href="" class="text-white"
            ><h6 class="font-weight-bold py-3"><u>SEE MORE</u></h6></a
          >
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="/img/header/masthead.png" alt="" class="w-100">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row bg-warning px-5 py-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Entrepreneurs</h1></a
          >
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Photographers</h1></a
          >
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Restaurants</h1></a
          >
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Musicians</h1></a
          >
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Small Businesses</h1></a
          >
          <a href="" class="text-white"
            ><h1 class="font-weight-bold">Fashion Designers</h1></a
          >
          <a href="" class="text-white"
            ><h6 class="font-weight-bold py-3"><u>SEE MORE</u></h6></a
          >
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="/img/header/masthead.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </div>
  <!-- <a
    class="carousel-control-prev"
    href="#carouselExampleFade"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleFade"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
