<div class="container py-5">
        <h1 class="display-3 font-weight-bold text-center py-5">
          Powerful Features for Your Website
        </h1>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 py-4">
            <h3 class="font-weight-bold">Total Design Freedom</h3>
            <h6 class="">
              Design your site exactly the way you want with innovative drag and drop.
            </h6>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 py-4">
            <h3 class="font-weight-bold">Industry-Leading SEO</h3>
            <h6 class="">
              Follow your own personalized SEO plan to get your website found on
              Google.
            </h6>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 py-4">
            <h3 class="font-weight-bold">Tailor-Made Content</h3>
            <h6 class="">
              Your stunning website comes complete with beautiful images and text.
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 py-4">
            <h3 class="font-weight-bold">Mobile Optimized</h3>
            <h6 class="">
              Your website will automatically look amazing on any device.
            </h6>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 py-4">
            <h3 class="font-weight-bold">App Market</h3>
            <h6 class="">
              Manage your website and grow business with powerful web Apps.
            </h6>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 py-4">
            <h3 class="font-weight-bold">Advanced Design Features</h3>
            <h6 class="">
              Bring your site to life with animation, video backgrounds and scroll
              effects.
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 py-4">
            <h3 class="font-weight-bold">Unlimited Fonts</h3>
            <h6 class="">
              Express more than words with over 100 fonts or upload your own.
            </h6>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 py-4">
            <h3 class="font-weight-bold">Scroll Effects</h3>
            <h6 class="">
              Add dimension to your site with parallax, reveal, zoom-in or fade-in
              scrolling.
            </h6>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 py-4">
            <h3 class="font-weight-bold">Media Galleries</h3>
            <h6 class="">
              Display your images, videos and text in a beautiful gallery layout.
            </h6>
          </div>
        </div>
      </div>