<footer class="bg-light pt-3">
  <div class="container">
    <div class="row pb-3">
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">What's new</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Sudocore</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">EduX</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">MasterClass</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">C How to Program</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Fundamentals of Logic Design</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">diesmo5 Store</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Account profile</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Download Center</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Support</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Returns</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Order Tracking</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">Education</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">diesmo5 in education</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Software for students</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Software for schools</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Deals for students & parents</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">Enterprise</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            <!-- <li class="list-unstyled"><a href="" class="text-small text-dark">EduX</a></li>
                        <li class="list-unstyled"><a href="" class="text-small text-dark">EduX</a></li>
                        <li class="list-unstyled"><a href="" class="text-small text-dark">EduX</a></li> -->
          </ul>
        </div>
      </div>
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">Developer</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Polymer</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Hack Iloilo</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">Company</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Careers</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">About diesmo5</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Company news</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Privacy at diesmo5</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Investors</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Diversity and inclusion</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Accessibility</a>
            </li>
            <li class="list-unstyled">
              <a href="" class="text-small text-dark">Security</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-end pr-2">
      <a href="" class="text-small text-dark px-1">Sitemap</a>
      <a href="" class="text-small text-dark px-1">Contact diesmo5</a>
      <a href="" class="text-small text-dark px-1">Terms of Use</a>
      <p href="" class="text-small text-dark px-1">&copy; diesmo5 2019</p>
    </div>
  </div>
</footer>
