<footer class="bg-light pt-3">
  <div class="container">
    <div class="row pb-3">
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">What's new</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            {{ range $.Site.Data.footer.new}}
            <li class="list-unstyled">
              <a href="{{.url}}" class="text-small text-dark">{{.title}}</a>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">Products & Services</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            {{range $.Site.Data.footer.store}}
            <li class="list-unstyled">
              <a href="{{.url}}" class="text-small text-dark">{{.title}}</a>
            </li>
            {{end}}
            </li>
          </ul>
        </div>
      </div>
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">Education</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            {{range $.Site.Data.footer.education}}
            <li class="list-unstyled">
              <a href="{{.url}}" class="text-small text-dark">{{.title}}</a>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">Foundation</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            {{range $.Site.Data.footer.foundation}}
            <li class="list-unstyled">
              <a href="{{.url}}" class="text-small text-dark">{{.title}}</a>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">Media</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            {{range $.Site.Data.footer.media}}
            <li class="list-unstyled">
              <a href="{{.url}}" class="text-small text-dark">{{.title}}</a>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
      <div class="box p-3 col-lg-2 col-md-4 col-12">
        <h6 class="">Company</h6>
        <div class="box-body">
          <ul class="list-unstyled">
            {{range $.Site.Data.footer.company}}
            <li class="list-unstyled">
              <a href="{{.url}}" class="text-small text-dark">{{.title}}</a>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-end pr-2">
      {{range $.Site.Data.footer.essential}}
      <a href="{{.url}}" class="text-small text-dark px-1">{{.title}}</a>
      {{end}}
      <p href="" class="text-small text-dark px-1">&copy; diesmo5 2019</p>
    </div>
  </div>
</footer>
