<section class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="/img/logo/icon.png" width="70px" alt="diesmo5-logo" />
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link" href="/">Home</a> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/products-services"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Store
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            {{ range $.Site.Data.nav.store}}
            <a class="dropdown-item" href="{{.navUrl}}">{{.navTitle}}</a>
            {{end}}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/products-services"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Courses
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            {{ range $.Site.Data.nav.education}}
            <a class="dropdown-item" href="{{.navUrl}}">{{.navTitle}}</a>
            {{end}}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/products-services"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Software
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            {{ range $.Site.Data.nav.developer}}
            <a class="dropdown-item" href="{{.navUrl}}">{{.navTitle}}</a>
            {{end}}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/products-services"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Foundation
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            {{ range $.Site.Data.nav.collaborate}}
            <a class="dropdown-item" href="{{.navUrl}}">{{.navTitle}}</a>
            {{end}}
            {{ range $.Site.Data.nav.new}}
            <a class="dropdown-item" href="{{.navUrl}}">{{.navTitle}}</a>
            {{end}}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/products-services"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Media
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="/media">Overview</a>
            {{ range $.Site.Data.nav.media}}
            <a class="dropdown-item" href="{{.navUrl}}">{{.navTitle}}</a>
            {{end}}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/products-services"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Company
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            {{ range $.Site.Data.nav.company}}
            <a class="dropdown-item" href="{{.navUrl}}">{{.navTitle}}</a>
            {{end}}
            {{ range $.Site.Data.nav.essential}}
            <a class="dropdown-item" href="{{.navUrl}}">{{.navTitle}}</a>
            {{end}}
          </div>
        </li>
      </div>
    </div>
  </nav>
</section>