<section class="">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="/img/logo/icon.png" width="70px" alt="diesmo5-logo" />
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Products & Services
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            {{ range $.Site.Data.nav.store}}
            <a class="dropdown-item" href="{{.url}}">{{.title}}</a>
            {{end}}
          </div>
        </li> -->
        <a class="nav-item nav-link" href="/products-services/"
          >Products & Services</a
        >
        <a class="nav-item nav-link" href="/case-studies/">Case Studies</a>
        <a class="nav-item nav-link" href="/collaborate/">Collaborate</a>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Collaborate
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            {{ range $.Site.Data.nav.collaborate}}
            <a class="dropdown-item" href="{{.url}}">{{.title}}</a>
            {{end}}
          </div>
        </li> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Media
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            {{ range $.Site.Data.nav.media}}
            <a class="dropdown-item" href="{{.url}}">{{.title}}</a>
            {{end}}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Company
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            {{ range $.Site.Data.nav.company}}
            <a class="dropdown-item" href="{{.url}}">{{.title}}</a>
            {{end}}
          </div>
        </li>
      </div>
    </div>
  </nav>
</section>
