<section class="py-3">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <a class="navbar-brand" href="/">
      <img src="/img/logo/svg.svg" width="60px" alt="diesmo5-logo" />
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link" href="/">Home</a> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/products-services"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            For Business
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <!-- <a class="dropdown-item" href="/products">Marketing Materials</a> -->
            <a class="dropdown-item" href="/services">Client Services</a>
            <a class="dropdown-item" href="/case-studies">Case Studies</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/courses"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            For Education
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="/courses">General Overview</a>
            <a class="dropdown-item" href="/c-programming">C How to Program</a>
            <a class="dropdown-item" href="/python-programming"
              >Python: The Language of AI & ML</a
            >
            <a class="dropdown-item" href="/java-programming"
              >Java: Write Once, Run Anywhere</a
            >
            <a class="dropdown-item" href="/kotlin-programming"
              >Kotlin: Native Android Development</a
            >
            <a class="dropdown-item" href="/swift-programming"
              >Swift: Native iOS Development</a
            >
            <a class="dropdown-item" href="/c++-programming"
              >C++: Object-Oriented Programming</a
            >
            <a class="dropdown-item" href="/r-programming">R: Data Science</a>
            <a class="dropdown-item" href="/ds-and-algorithms"
              >Data Structures and Algorithms</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/software"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            For Developers
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" rel="noopener" rel="noreferrer" target="_blank" href="https://sudocore.diesmo5.com"
              >Sudocore</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/collaborate"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            For Community
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="/collaborate">General Overview</a>
            <a class="dropdown-item" href="/hackathons">Hackathons</a>
            <a class="dropdown-item" href="/speaking-engagements"
              >Speaking Engagements</a
            >
            <a class="dropdown-item" href="/workshops">Workshops</a>
            <a class="dropdown-item" rel="noopener" rel="noreferrer" target="_blank" href="https://globalconnect.diesmo5.com/"
              >Global Connect Initiative</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/media"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Our Media
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="/media">Overview</a>
            <a class="dropdown-item" href="/blog">Blog</a>
            <a class="dropdown-item" href="/linktree">Linktree</a>
            <a class="dropdown-item" href="/newsletter">Newsletter</a>
            <a class="dropdown-item" href="/podcast">Podcast</a>
            <a class="dropdown-item" href="/tv">diesmo5 TV</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/about"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Our Company
          </a>
          <div
            class="dropdown-menu border-0"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="/about">About</a>
            <a class="dropdown-item" href="/press">Press</a>
            <a class="dropdown-item" href="/careers">Careers</a>
            <a class="dropdown-item" href="/contact">Contact</a>
            <a class="dropdown-item" href="/policy/privacy-policy"
              >Privacy Policy</a
            >
            <a class="dropdown-item" href="/policy/return-policy"
              >Return Policy</a
            >
            <a class="dropdown-item" href="/policy/terms-conditions"
              >Terms & Conditions</a
            >
            <a class="dropdown-item" href="/sitemap.xml">Sitemap</a>
          </div>
        </li>
      </div>
    </div>
  </nav>
</section>
