<section class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-indigo pt-3">
    <a
      class="navbar-brand font-weight-bold"
      style="font-size: 24px;"
      href="/web-services/"
    >
      <!-- <img
        src="/img/projects/global-connect/globe.png"
        width="70px"
        alt="diesmo5-logo"
      /> -->
      D5WS
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/web-services/">Home</a>
        <a class="nav-item nav-link" target="_blank" href="/web-hosting/"
          >Web Hosting</a
        >
        <a class="nav-item nav-link" target="_blank" href="/web-services/"
          >Domains</a
        >
        <a class="nav-item nav-link" target="_blank" href="/web-services/"
          >Web Builder</a
        >
      </div>
    </div>
  </nav>
</section>

<section id="announcements" class="container py-2">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Keep in mind!</strong> Our D5WS is still in progress. (Previously
    known as SudoCore)
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</section>
