{{ define "main" }} {{partial "navbar" . }}

<div class="container py-5 text-center">
  <div class="row py-5">
    <h1 class="text-center  py-5">
      Sorry. :(
      <br />
      This web page is currently under development. Check back soon...
    </h1>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12 py-2">
        <a href="/" class="btn btn-block btn-yankees px-5 py-3 font-weight-bold"
          >Home</a
        >
      </div>
      <div class="col-lg-4 col-md-4 col-12 py-2">
        <a
          href="/services/"
          class="btn btn-block btn-yankees px-5 py-3 font-weight-bold"
          >Services</a
        >
      </div>
      <div class="col-lg-4 col-md-4 col-12 py-2">
        <a
          href="/global-connect/"
          class="btn btn-block btn-yankees px-5 py-3 font-weight-bold"
          >Global Connect</a
        >
      </div>
    </div>
  </div>
</div>
{{ end }}
