{{ define "main" }}

<img src="/img/header/masthead.png" alt="" class="w-100 card-img">
<div class="card-img-overlay text-center font-weight-bold text-white">
    
    <!-- Desktops -->
    <div class="hidden-md-down" style="height:20%;"></div>
    <h1 class="display-1 font-weight-bold hidden-md-down">This is the a to build a brand.</h1>
    <a href="" class="btn btn-lg btn-white rounded-pill font-weight-bold px-5 py-3 hidden-md-down">Get Started</a>
    
    
    <!-- Tablet -->
    <div class="hidden-lg-up hidden-sm-down" style="height: 10%;"></div>
    <h1 class="display-4 font-weight-bold hidden-lg-up hidden-sm-down">This is the place to build a brand.</h1>
    <a href="" class="btn btn-lg btn-white rounded-pill font-weight-bold px-5 py-3 hidden-lg-up hidden-sm-down">Get Started</a>

    <!-- Mobile -->
    <div class="" style="height: 8%;"></div>
    <h4 class="font-weight-bold hidden-sm-up">This is the place to build a brand.</h4>
    <a href="" class="btn btn-white rounded-pill font-weight-bold px-3 py-2 hidden-sm-up">Get Started</a>
</div>
{{ end }}