{{ define "main" }} {{ partial "navbar" . }}
<div class="">
  <div
    id="HomePageCarousel"
    class="carousel slide carousel-fade"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      {{range $.Site.Data.home.carousel}}
      <div class="carousel-item {{.toggle}}">
        <div
          style="background-image: url({{.img}}); background-position: center; background-size: cover; background-repeat: no-repeat; height: 100vh;"
        >
          <!-- <img src="{{.img}}" class="d-block w-100" alt="{{.alt}}" /> -->
          <div
            class="container text-white"
            style="position: relative; top: 60%;"
          >
            <h5 class="font-weight-normal">Welcome to DIESMO 5</h5>
            <h1 class="font-weight-normal py-4">
              We Help Brands & Businesses Gain a Competitive Advantage in the
              Connected World.
            </h1>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>

<div class="container-fluid bg-yankees text-white text-center py-5">
  <div class="container py-5">
    <h1 class="font-weight-bold">We Build Businesses</h1>
    <h4 class="font-weight-light pt-2 pb-4">
      We help businesses grow, launch products, and build enduring relationships
      with their communities.
    </h4>
    <a
      href="/case-studies/"
      class="btn btn-lg btn-rose rounded-0 font-weight-light px-5 py-3"
      >SEE OUR WORK</a
    >
  </div>
</div>

<div class="container py-5">
  <div class="row">
    {{range $.Site.Data.home.cards}}
    <div class="card col-lg-3 col-md-3 col-12 border-0">
      <a href="{{.url}}" class="">
        <img src="{{.img}}" class="card-img-top" alt="{{.alt}}" />
      </a>
      <div class="card-body">
        <a href="{{.url}}" class="text-decoration-none text-dark">
          <h5 class="card-title">{{.title}}</h5>
          <p class="card-text">
            {{.description}}
          </p>
        </a>
        <a href="{{.url}}" class="text-small">{{.tagline}} ></a>
      </div>
    </div>
    {{end}}
  </div>
</div>

{{ partial "clients" . }}

<div class="container-fluid text-center pb-5">
  <div class="container pb-5">
    <h4 class="font-weight-light">Ready to Talk?</h4>
    <a
      href="/contact/"
      class="btn btn-lg btn-rose rounded-0 font-weight-light px-5 py-3"
      >Start a Project</a
    >
  </div>
</div>

{{end}}
