{{define "main"}}
{{ partial "navbar" . }}

<div class="container pb-5">
  <div class="card p-5">
    <div class="">
      <h1 class="font-weight-bold text-center text-dark">Hello!</h1>
      <p class="">
        Feel free to reach out to us with any questions, comments, or concerns.
        We will get back to you as soon as possible. If you are looking to
        collaborate with us in any way shape or form, you can do it here.
      </p>
    </div>
    <form name="contact" method="POST" data-netlify="true">
      <p>
        <input
          class="p-2 btn-block"
          placeholder="Name"
          type="text"
          name="name"
        />
      </p>
      <p>
        <input
          class="p-2 btn-block"
          placeholder="E-Mail"
          type="email"
          name="email"
        />
      </p>
      <p>
        <input
          class="p-2 btn-block"
          placeholder="Subject"
          type="text"
          name="subject"
        />
      </p>

      <p>
        <textarea
          class="p-2 btn-block"
          placeholder="Message"
          name="message"
        ></textarea>
      </p>
      <button class="btn btn-lg btn-rose rounded-0 px-5" type="submit">Send</button>
    </form>
  </div>
</div>

{{ end }}
